<div class="jumbotron">
    <h1 class="display-4">Contact</h1>
    <p class="lead">Avez vous une suggestion à nous faire part ?</p>
</div>
<div class="container">
    <div class="row">
        <form class="form-contact" method="post">
            <fieldset>
                <div class="form-group">
                    <label for="name" aria-label="name">Prenom NOM</label>
                    <input id="name" name="name" type="text" placeholder="Prenom NOM" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email" aria-label="email">Email</label>
                    <input id="email" name="email" type="text" placeholder="Ton email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="message" aria-label="message">Votre message</label>
                    <textarea class="form-control" id="message" name="message" placeholder="Écrire ici votre message ..." rows="5"></textarea>
                </div>
                <div class="form-group">
                    <button class="submit" type="submit">Envoyer</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
