<div class="jumbotron">
  <h1 class="display-4">Mes Commandes</h1>
  <p class="lead">Ici vous trouverez la liste de vos commandes.</p>
</div>

<div class="row m-3">
  <div class="card col-md-4 text-left mr-3 d-flex p-xxl-5">
    <div class="col">
      <div class="h-container__right-item h-welcom "></div>
      <div class="list-group">
        <a routerLink="/commandes" class="list-group-item list-group-item-action">
          <i class="bi bi-bag"></i>
          Mes commandes
        </a>
        <br>
        <a routerLink="/chats" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Chats
        </a>
        <br>
        <a routerLink="/remboursement" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Mes remboursements
        </a>
        <br>
        <a routerLink="/adresses" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Mes adresses
        </a>
        <a routerLink="/profil" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Retour Profil
        </a>
        <b class="m-2 text-center">Les suivis</b>
        <a routerLink="/suiviMessages" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Suivi de vos messages
        </a>
        <a routerLink="/suiviCommandes" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Suivi des commandes
        </a>
        <a routerLink="/notificationVendeur" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Notifications vendeurs
        </a>
        <a routerLink="/messageVendeur" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Messages vendeurs
        </a>
      </div>
    </div>
  </div>

  <div class="card col-md-7 d-flex block-profil">

  </div>