<!-- <header>
  <nav class="menu-bar">
      <div class="search-bar">
      /* Barre de recherche pour un produit */
      <input type="text" placeholder="Rechercher..." [(ngModel)]="recherche" (keydown)="onKeyDown($event)" (input)="updateSuggestions()">
      <button (click)="rechercherBouton()">Rechercher</button>
      /* Menu déroulant listant les différentes catégories */
      <select class="form-select" aria-label="Default select example" [(ngModel)]="categorieSelectionnee">
        <option (click)="redirectToPage('all-produit')">Toutes les catégories</option>
        <option *ngFor="let cate of liste_cate" class="btn" (click)="filtrerCategorie(cate.id)">
          {{ cate.id }} - {{ cate.name }}
        </option>
      </select>
      <div class="suggestions" *ngIf="suggestions.length > 0">
        <ul>
          <li *ngFor="let suggestion of suggestions; let i = index"
            [ngClass]="{ 'selected': i === selectedSuggestionIndex }" (click)="selectSuggestion(suggestion)">
            {{ suggestion.name}}
          </li>
        </ul>
      </div>
    </div>
    <ul class="menu-items">
      <li>
        <button class="panier-button" (click)="ouvrirPanier('panier')">Panier</button></li>
      <li><button class="profil-button" (click)="redirectToPage('profil')">Profil</button>
      </li>
      <li><button (click)="ouvrirPanier('/')" class="left-menu">Accueil</button></li>
      <li><button (click)="ouvrirPanier('contact')" class="left-menu">Contact</button></li>
    </ul>
  </nav>
</header> -->
<div>
  <h1 class="text-center">Vos Articles</h1>
</div>
<!-- Affichage des produits-->
<div class="containeur">
  <div class="box" *ngFor="let produit of produits">
    <app-produit-compact [produit]="produit"></app-produit-compact>
  </div>
</div>
