<div class="jumbotron">
  <h1 class="display-4">Dialoguer</h1>
  <p class="lead">Directement avec votre vendeur.</p>
</div>

<div class="row m-3">
  <div class="card col-md-4 text-left mr-3 d-flex p-xxl-5">
    <div class="col">
      <div class="h-container__right-item h-welcom "></div>
      <div class="list-group">
        <a routerLink="/commandes" class="list-group-item list-group-item-action">
          <i class="bi bi-bag"></i>
          Mes commandes
        </a>
        <br>
        <a routerLink="/chats" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Chats
        </a>
        <br>
        <a routerLink="/remboursement" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Mes remboursements
        </a>
        <br>
        <a routerLink="/adresses" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Mes adresses
        </a>
        <a routerLink="/profil" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Retour Profil
        </a>
        <b class="m-2 text-center">Les suivis</b>
        <a routerLink="/suiviMessages" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Suivi de vos messages
        </a>
        <a routerLink="/suiviCommandes" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Suivi des commandes
        </a>
        <a routerLink="/notificationVendeur" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Notifications vendeurs
        </a>
        <a routerLink="/messageVendeur" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Messages vendeurs
        </a>
      </div>
    </div>
  </div>

<div class="card col-md-7 d-flex block-profil chat">
  
  <div class="space-bulle">
    <div class="d-flex">
      <p class="interloc">
        bonjour je suis un message de chat<br>
        <span class="date-interloc">autre le : date</span>
      </p>
    </div>
    
    <div class="d-flex flex-row-reverse">
      <p class="vous">
        c'est une réponse de chat<br>
        <span class="date-vous">vous le : date</span>
      </p>
    </div>
  </div>

  <div class="comment-chat">
    <textarea class="form-control" placeholder="Écrire ici" id="floatingTextarea"></textarea>
    <button class="submit ml-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
        <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
      </svg>
    </button>
  </div>

</div>

</div>


