
.container {
  background-color: white;
}

.card {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 500px;
  }

  label {
    font-size: 14px;
  }

  .form-check {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .block-profil {
    overflow-y: auto;
  }

  .submit {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
  }
  
  .btn-retour {
      border: none;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 16px;
      cursor: pointer;
      margin-bottom: 10px;
      transition: background-color 0.3s ease;
      margin-right: 40px;
    }