<div class="jumbotron">
  <h1 class="display-4">Mes informations personnelles</h1>
  <p class="lead">Vous pouvez modifiez vos informations</p>
</div>

<div class="row m-3">
  <div class="card col-md-4 text-left mr-3 d-flex p-xxl-5">
    <div class="col">
      <div class="h-container__right-item h-welcom "></div>
      <div class="list-group">
        <a routerLink="/commandes" class="list-group-item list-group-item-action">
          <i class="bi bi-bag"></i>
          Mes commandes
        </a>
        <br>
        <a routerLink="/chats" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Chats
        </a>
        <br>
        <a routerLink="/remboursement" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Mes remboursements
        </a>
        <br>
        <a routerLink="/adresses" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Mes adresses
        </a>
        <a routerLink="/profil" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Retour Profil
        </a>
        <b class="m-2 text-center">Les suivis</b>
        <a routerLink="/suiviMessages" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Suivi de vos messages
        </a>
        <a routerLink="/suiviCommandes" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Suivi des commandes
        </a>
        <a routerLink="/notificationVendeur" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Notifications vendeurs
        </a>
        <a routerLink="/messageVendeur" class="list-group-item list-group-item-action">
          <i class="bi bi-cart-fill"></i>
          Messages vendeurs
        </a>
      </div>
    </div>
  </div>

  <div class="card col-md-7 d-flex">
    <!-- Utilisez Formgroup plutot que ngModel pour le form -->
    <form [formGroup]="profils" (ngSubmit)="enregistrerProfil()">
      <div class="form-group">
        <label class="label-modif-profil" for="nom">Nom</label>
        <input class="input-modif-profil" id="nom" type="text" class="form-control text-center mt-0" name="nom" formControlName="nom" placeholder="Nom">
        <label class="label-modif-profil" for="prenom">Prenom</label>
        <input class="input-modif-profil" id="prenom" class="form-control text-center mt-0" name="prenom" formControlName="prenom" placeholder="Prenom">
        <label class="label-modif-profil" for="tel">Tel</label>
        <input class="input-modif-profil" id="tel" type="text" class="form-control text-center mt-0" name="tel" formControlName="tel" placeholder="Téléphone">
        <label class="label-modif-profil" for="adresse">Adresse</label>
        <input class="input-modif-profil" id="adresse" class="form-control text-center mt-0" name="adresse" formControlName="adresse" placeholder="Adresse">
        <label class="label-modif-profil" for="email">Email</label>
        <input class="input-modif-profil" id="email" type="email" class="form-control text-center mt-0" name="email" formControlName="email" placeholder="Email">
        <label class="label-modif-profil" for="password">mot de passe</label>
        <input class="input-modif-profil" id="password" type="password" class="form-control text-center mt-0" name="motdepasse" formControlName="motdepasse" placeholder="MotDePasse">
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="submit m-3">Enregistrer</button>
          <button type="button" class="btn-retour m-3 " (click)="redirectToPage('profil')">Annuler</button>
        </div>
      </div>
    </form>
  </div>

