.page-container {
    padding: auto;
    margin-top: 10%;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .product-name {
    font-size: 24px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  
  .details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
  
  .presentation-image {
    width: 500px;
    height: 500px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  
  .side-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .product-price {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .product-price-selection {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: lighter;
  }

  label.quantity {
    line-height: 34px;
    margin-right: 10px;
    cursor: pointer;
  }

  .quantity {
    font-weight: lighter;
    text-decoration: underline;
  }

  .quantity-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
  
  input[type="number"] {
    width: 60px;
    border: 0px;
    margin-top: -5px;
    appearance: none;
    -moz-appearance: textfield;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }
  
  .add-to-cart-button {
    margin-left: 0 !important;
  }

  .add-to-cart-button,
  .buy-now-button, .btn-retour {
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    margin-right: 40px;
  }

  .product-description {
    font-size: 16px;
    text-align: justify;
    width: 500px;
    height: 240px;
    overflow-y: auto;
  }

  .figcaption-img-presentation {
    list-style: none;
    margin-right: 15%;
  }

  .figcaption-img-presentation li {
    cursor: pointer;
    display: inline;
    margin: 20px;
  }

  .commentaire {
    width: 500px;
    height: 500px;
    overflow-y: auto;
    font-weight: lighter;
    margin-left: 50px;
  }

  .profil-commentaire {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .h5-commentaire {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .commentaire-text {
    text-align: justify;
  }

  .h4-comment {
    text-decoration: underline;
    margin-bottom: 30px;
  }

  img.clipart {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }