.card {
  margin-bottom: 20px;
}

.submit {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
}

.btn-retour {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    margin-right: 40px;
  }

  