  .comment-chat{
    position:absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    border: 0px;
    left: 0;
    display: flex;

  }

  .block-profil.chat {
    padding: 30px;
  }

  .space-bulle {
    overflow-y: auto;
  }

  .interloc, .vous{
    padding: 10px;
    border-radius: 15px;
    width: 400px;
    text-align: left;
  }

  .vous {
    right: 0;
  }

  .date-interloc, .date-vous {
    font-weight: lighter;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    opacity: 0.5;
  }

  .submit {
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }