<div class="jumbotron titre-inscription">
  <h1 class="display-4">Inscription</h1>
  <p class="lead">Pensez à vous inscrire pour vous connecter</p>
</div>

<div class="container div-inscription">
  <form (ngSubmit)="register()">
  <ul class="allColonne">

    <li class="colonne1">
      <label for="username">* Votre Nom d'utilisateur :</label>
      <input class="input-register" type="text" id="username" name="username" placeholder="Choisissez votre nom" [(ngModel)]="registerData.name" required>
      <label for="password">* Votre Mot de passe :</label>
      <input class="input-register" type="password" id="password" name="password" placeholder="Choisissez votre mot de passe" [(ngModel)]="registerData.password" required>
      <label for="confirmPassword">* Confirmez votre Mot de passe :</label>
      <input class="input-register" type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="registerData.confirm" required>
      <label for="birthdate">* Votre date de naissance :</label>
      <input class="input-register" type="date" id="birthdate" name="birthdate" [(ngModel)]="registerData.birthdate" required>
    </li>

    <li class="colonne2">
      <label for="email">* Votre email :</label>
      <input class="input-register" type="email" id="email" name="email" placeholder="Saisissez votre email" [(ngModel)]="registerData.mail" required>
      <label for="tel">Votre numéro de téléphone :</label>
      <input class="input-register" type="text" id="tel" name="tel" placeholder="Ex: 0701020304" [(ngModel)]="registerData.tel">
      <!-- <label for="adresse">* Votre adresse :</label>
      <input type="text" id="adresse" name="adresse" placeholder="Saisissez votre adresse" [(ngModel)]="registerData.adresse" required> -->

      <label for="languePreferee">Votre langue préférée :</label>
      <select class="form-select langue" aria-label="Default select example" id="languePreferee" name="languePreferee" [(ngModel)]="registerData.languePreferee" required>
        <option selected disabled>Choisir votre languee</option>
        <option value="fr">Français</option>
        <option value="en">English</option>
      </select>

      <label for="role">Type utilisateur :</label>
      <select class="form-select role" aria-label="Default select example" name="role" [(ngModel)]="registerData.roles" required>
        <option selected disabled>Choisir votre type</option>
        <option value="user">particulier</option>
        <option value="admin">professionnel</option>
      </select>
    </li>
    
  </ul>
      <input class="submit" type="submit" value="S'inscrire">
  </form>
</div>