<div class="jumbotron titre-inscription">
  <h1 class="display-4">connexion</h1>
  <p class="lead">Connectez-vous pour avoir accès au service du site</p>
</div>

  <div class="connexion">
    <form (ngSubmit)="login()">
      <label for="username">Nom d'utilisateur :</label>
      <input class="input-connect" type="text" id="username" name="username" placeholder="Saisissez votre nom"
        [(ngModel)]="connexionData.username" required>
      <br />
      <label for="password">Mot de passe :</label>
      <input class="input-connect" type="password" id="password" name="password" placeholder="Saisissez votre mot de passe"
        [(ngModel)]="connexionData.password" required>
      <br />
      <input class="button-submit" type="submit" value="Se connecter">
    </form>

    <div class="reset" (click)="toggleReset()">
      <ng-container *ngIf="afficherInput; else inputMask">

        <p class="ici">Vous vous rappeler de vos identifiants.</p>

      </ng-container>
    </div>

    <ng-template #inputMask>

        <p class="ici">Vous avez oublié identifiant<br> ou votre mot de passe. </p>
      
    </ng-template>
    <ng-container *ngIf="afficherInput;">

    <form>
      <label for="email">Votre email</label>
      <input class="input-connect" type="email" id="email" name="email" type="email" placeholder="Saissez votre@email.com">
      <input class="button-submit" type="submit" value="Se connecter">
    </form>

  </ng-container>
  </div>

  


