div {
  width: 300px;
  margin: 0 auto;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: lighter;
}

.input-connect, .button-submit {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.button-submit {
  border: 0;
}


.titre-inscription {
  width: 100%;
}

.ici {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}