.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;

}

.form-control{
  padding: 5px 10px;
  width: 100px;
  height: 30px;
}
